<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Gestor</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container">
		<h1>Cadastrar aluno(a)</h1>
		<form action="" >
			<div>
				<label>Nome:</label> <input type="text" name="nome">
			</div>
			<div>
				<label>Curso:</label> <input type="text" name="curso">
			</div>
			<div>
				<label>Turma:</label> <input type="text" name="turma">
			</div>
			<div>
				<label>Matrícula:</label> <input type="text" name="matricula">
			</div>
			<div>
				<button class="waves-effect waves-light btn" type="submit">Salvar</button>
				<button class="waves-effect waves-light btn" type="reset">Limpar</button>
			</div>
	</form>
	</div>
</body>
</html>